<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <a target="_blank" href="https://github.com/drachlyznardh">DrachLyznardh</a> did this by following random tutorials and he's sorry for that. v<%=process.env.VERSION%>
</nav>
