<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a target="_blank" href="https://www.vim.org/">Written in <span class="glyphicon glyphicon-book"></span> Vim</a>
      </li>
      <li>
        <a target="_blank" href="https:/github.com/drachlyznardh">by <span class="glyphicon glyphicon-user"></span> DrachLyznardh</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a target="_blank" href="https://github.com/drachlyznardh/canievenweb/tags/v<%=process.env.VERSION%>"><span class="glyphicon glyphicon-info-sign"></span> v<%=process.env.VERSION%></a>
      </li>
    </ul>
  </div>
</nav>
