<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Can I even web?</h1>
    <p>This is a simple Node application deployed to Heroku<br/>This is a simple app &ndash; 'cause it's my first time and I knew nothing about any of this</p>
  </div>
</div>
<div class="container">
  <ul id="tabnav" class="nav nav-pills hidden">
    <li><a data-toggle="pill" href="#photo">Photo</a></li>
    <li><a data-toggle="pill" href="#album">Album</a></li>
    <li class="active"><a data-toggle="pill" href="#gallery">Gallery</a></li>
  </ul>
  <div class="tab-content">

    <div id="photo" class="tab-pane fade">
      <div class="container photo-container">
        <button type="button" class="close" onclick="backToAlbum()">&times;</button>
        <a onclick="backToAlbum()">
          <img id="photo-img" src="" />
        </a>
        <p id="photo-description" class="description">Questo è il pannello con la foto</p>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-default" onclick="backToAlbum()">Close photo</button>
      </div>
    </div>

    <div id="album" class="tab-pane fade">
      <div class="panel-header">
        <button type="button" class="close" onclick="backToGallery()">&times;</button>
        <h4><span class="capitalize" id="album-title">Titolo dell'album</span>, <span class="glyphicon glyphicon-user"></span> <a id="album-author"></a></h4>
      </div>

      <div id="album-content" class="panel-body">Contenuto dell'album</div>

      <div class="panel-footer">
        <button type="button" class="btn btn-default" onclick="backToGallery()">Close album</button>
      </div>
    </div>

    <div id="gallery" class="tab-pane fade in active">
      <p>Galleria</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/photo.js"></script>
<script type="text/javascript" src="/album.js"></script>
<script type="text/javascript" src="/gallery.js"></script>

</body>
</html>
